body {
  background-color: #000066;
  color: #dddddd;
  font-family: Helvetica, Times, Arial, sans-serif;
  margin: 0% 3%
}
.exp-name {
  background-color: rgba(0,0,0, 0.5)
}

.exp-header {
    text-transform: uppercase;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.edu-header {
  text-transform: uppercase;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
