body {
  background-color: #B87800;
  color: #dddddd;
  font-family: Helvetica, Times, Arial, sans-serif;
  margin: 2% 2%
}
.exp-name {
  background-color: #002f6c;
}

.exp-header {
    text-transform: uppercase;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.edu-header {
  text-transform: uppercase;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
